<%= link_to "Home", user_path(@user) %>


<h1> The Week Ahead </h1>
<div class="week_ahead">
<ul>
<% @events.uniq.each do |e| %>
    <li><%= e.date%> - <%= link_to e.title, event_path(e) %> </li>
        <ul>
            <% e.tasks.each do |t| %>
                <li><%= link_to t.description, event_task_path(e,t) %></li>
            <% end %>
        </ul>
    <% end %>
</ul>
</div>
